.footer {
	display: flex;
	flex-direction: row-reverse;
	position: relative;
	left: 0;
	bottom: 0;
	border-top : 3px solid rgb(0, 84, 153);
	background-color: rgb(0, 137, 255);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
	height: 10vh;
	width: 100%;
}
.cop{
	display: flex;
	align-items: center;
	margin-right: 30px;
	font-size: 2vh;
}